In [1]:
# 직선거리 구하기위한 패키지 haversine 설치
!pip install haversine 

from haversine import haversine

Collecting haversine
  Downloading haversine-2.7.0-py2.py3-none-any.whl (6.9 kB)
Installing collected packages: haversine
Successfully installed haversine-2.7.0

In [5]:
import pandas as pd

df = pd.read_csv("../../data/extra/1_prepro_전기차충전소.csv",encoding = "cp949")
df

,statNm,statId,chgerId,chgerType,addr,adng_nm,lat,lng,useTime,time,stat,output,method,limitYn,kindDetail,parkingFree,use
0,용인시청,ME174147,1,6,경기도 용인시 처인구 삼가동 556,처인구,37.240666,127.177375,24시간 이용가능,all,2,50.0,단독,N,A001,N,all
1,포곡읍사무소,ME174148,1,6,경기도 용인시 처인구 포곡읍 포곡로 258,처인구,37.278100,127.231259,24시간 이용가능,all,9,50.0,단독,N,A002,N,all
2,죽전휴게소(서울방향),ME178002,1,6,경기도 용인시 수지구 경부고속도로 400 (죽전동),수지구,37.332073,127.104848,24시간 이용가능,all,3,50.0,단독,N,C001,Y,all
3,죽전휴게소(서울방향),ME178002,2,6,경기도 용인시 수지구 경부고속도로 400 (죽전동),수지구,37.332073,127.104848,24시간 이용가능,all,3,50.0,단독,N,C001,Y,all
4,기흥휴게소(부산방향),ME178003,1,6,경기도 용인시 기흥구 공세로 173 (공세동),기흥구,37.235656,127.105021,24시간 이용가능,all,9,50.0,단독,N,C001,Y,all
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4136,삼천리 에버랜드 복합충전소(급속),TDH99001,1,6,경기도 용인시 처인구 포곡읍 곡현로 74,처인구,37.293272,127.222609,24시간 이용가능,all,9,50.0,단독,N,B002,N,NaN
4137,삼천리 에버랜드 복합충전소(급속),TDH99001,2,6,경기도 용인시 처인구 포곡읍 곡현로 74,처인구,37.293272,127.222609,24시간 이용가능,all,2,50.0,단독,N,B002,N,NaN
4138,삼천리 에버랜드 복합충전소(급속),TDH99001,3,6,경기도 용인시 처인구 포곡읍 곡현로 74,처인구,37.293272,127.222609,24시간 이용가능,all,3,50.0,단독,N,B002,N,NaN
4139,삼천리 에버랜드 복합충전소(급속),TDH99001,4,6,경기도 용인시 처인구 포곡읍 곡현로 74,처인구,37.293272,127.222609,24시간 이용가능,all,2,50.0,단독,N,B002,N,NaN
4140,삼천리 에버랜드 복합충전소(급속),TDH99001,5,6,경기도 용인시 처인구 포곡읍 곡현로 74,처인구,37.293272,127.222609,24시간 이용가능,all,2,50.0,단독,N,B002,N,NaN

In [16]:
df2 = pd.read_csv("../../data/merge_data_3.csv",encoding = "cp949")
mohyun = df2.loc[df2.adng_nm == "모현읍"]
mohyun = mohyun.reset_index(drop = True)
mohyun

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust_resident,count_cust_ra,count_cust_activity
0,20220624,5,용인시,모현읍,86295126,127.157684,37.332287,FEMALE,10,EV라운지,2,6.470,6.470,6.470
1,20220605,7,용인시,모현읍,88103055,127.221390,37.351383,FEMALE,10,EV라운지,6,6.470,6.470,6.470
2,20220623,4,용인시,모현읍,88694993,127.242320,37.340164,MALE,12,EV라운지,4,3.727,NaN,NaN
3,20220610,5,용인시,모현읍,89158907,127.258766,37.314510,FEMALE,11,EV라운지,1,16.175,NaN,NaN
4,20220602,4,용인시,모현읍,88854936,127.248030,37.318993,MALE,9,EV라운지,4,3.064,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18909,20220622,3,용인시,모현읍,88343028,127.229880,37.345993,FEMALE,7,하이차저,2,NaN,NaN,3.959
18910,20220630,4,용인시,모현읍,86679116,127.171200,37.338634,FEMALE,10,EV라운지,4,NaN,9.945,9.945
18911,20220606,1,용인시,모현읍,88519022,127.236084,37.348263,MALE,9,하이차저,1,NaN,3.549,3.549
18912,20220621,2,용인시,모현읍,86695054,127.171880,37.311146,FEMALE,13,EV라운지,4,NaN,4.492,4.492
18913,20220621,2,용인시,모현읍,86023090,127.148200,37.308372,MALE,7,EV라운지,2,NaN,7.140,7.140

In [21]:
# 직선거리 정의
for i in range(len(mohyun)):
  count_temp = 0
  # print(i)
  for t in range(len(df)):
    chung = (df.loc[t,"lat"],df.loc[t,"lng"])
    mohyun_temp = (mohyun.loc[i,"cell_ycrd"],mohyun.loc[i,"cell_xcrd"])
    temp = haversine(chung,mohyun_temp)
    # 직선거리 500m 이하인 지점 카운트
    if temp <= 0.5:
      count_temp += 1

  mohyun.loc[i,"500m이내_전기차충전소"] = count_temp


display(mohyun)

,base_dt,dow,ccw_nm,adng_nm,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust_resident,count_cust_ra,count_cust_activity,500m이내_전기차충전소
0,20220624,5,용인시,모현읍,86295126,127.157684,37.332287,FEMALE,10,EV라운지,2,6.470,6.470,6.470,1.0
1,20220605,7,용인시,모현읍,88103055,127.221390,37.351383,FEMALE,10,EV라운지,6,6.470,6.470,6.470,0.0
2,20220623,4,용인시,모현읍,88694993,127.242320,37.340164,MALE,12,EV라운지,4,3.727,NaN,NaN,5.0
3,20220610,5,용인시,모현읍,89158907,127.258766,37.314510,FEMALE,11,EV라운지,1,16.175,NaN,NaN,0.0
4,20220602,4,용인시,모현읍,88854936,127.248030,37.318993,MALE,9,EV라운지,4,3.064,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18909,20220622,3,용인시,모현읍,88343028,127.229880,37.345993,FEMALE,7,하이차저,2,NaN,NaN,3.959,1.0
18910,20220630,4,용인시,모현읍,86679116,127.171200,37.338634,FEMALE,10,EV라운지,4,NaN,9.945,9.945,2.0
18911,20220606,1,용인시,모현읍,88519022,127.236084,37.348263,MALE,9,하이차저,1,NaN,3.549,3.549,0.0
18912,20220621,2,용인시,모현읍,86695054,127.171880,37.311146,FEMALE,13,EV라운지,4,NaN,4.492,4.492,0.0
18913,20220621,2,용인시,모현읍,86023090,127.148200,37.308372,MALE,7,EV라운지,2,NaN,7.140,7.140,0.0

In [22]:
mohyun.loc[:,"500m이내_전기차충전소"].value_counts()

0.0     10965
2.0      2177
1.0      2092
23.0     1091
10.0      656
12.0      564
14.0      372
35.0      201
27.0      176
3.0       175
25.0      161
21.0      106
9.0        63
6.0        58
4.0        23
32.0       12
5.0         9
11.0        6
28.0        3
7.0         3
15.0        1
Name: 500m이내_전기차충전소, dtype: int64

In [23]:
mohyun.to_csv("test_mohyun.csv",encoding = "cp949",index = False)